<div class="home">
  <section class="main-content">
    <div class="text-content">
      <h1>Your Gateway to Extraordinary Adventures</h1>
      <p>Pack your bags and let Ready2Go redefine your travel experience. Where
        every journey is a story waiting to be told.</p>
    </div>

  </section>

  <section class="search-section">
    <div class="search-container">
      <input type="text" placeholder="Where do you want to go?" />
      <select>
        <option value="">Select Type</option>
        <option value="beach">Beach</option>
        <option value="mountain">Mountain</option>
        <option value="city">City</option>
      </select>
      <button>Search</button>
    </div>
  </section>
  
</div>