<footer class="app-footer">
 
  <div class="footer-row row-1">
    <div class="footer-col col-1">
        <img src="/assets/logo.png" alt="Logo" class="footer-logo">
        <p>Dive into local recommendations for a truly
           authentic experience.</p>
        <div class="footer-item">
          <i class="fa-solid fa-map-location-dot icon"></i>
          <span class="item-text">Adresa: Ulica 1</span>
        </div>
        <div class="footer-item">
          <i class="fa-solid fa-clock icon"></i>
          <span class="item-text">Radno vreme: 9-17h</span>
        </div>
        <div class="footer-item">
          <i class="fa-solid fa-envelope icon"></i>
          <span class="item-text">Email: info&#64;example.com</span>
        </div>

    </div>
    <div class="footer-col company">
        <p class="col-title">Company</p>
        <p class="col-text">Text1</p>
        <p class="col-text">Text2</p>
        <p class="col-text">Text3</p>
        <p class="col-text">Text4</p>
        <p class="col-text">Text5</p>
    </div>
    <div class="footer-col services">
        <p class="col-title">Services</p>
        <p class="col-text">Text1</p>
        <p class="col-text">Text2</p>
        <p class="col-text">Text3</p>
        <p class="col-text">Text4</p>
        <p class="col-text">Text5</p>
    </div>
    <div class="footer-col todo">TODO</div>
  </div>


  <div class="footer-row row-2">
    <div class="footer-col info-item">
      <i class="fa-solid fa-headset icon"></i>
      <div class="info-content">
        <span class="info-text">Need help? Call us.</span>
        <span class="info-subtext">+381 XXX XXX XXX</span>
      </div>
    </div>
    <div class="footer-col info-item">
      <i class="fa-solid fa-bullhorn icon"></i>
      <div class="info-content">
        <span class="info-text">Join Ready2Go Affiliate</span>
        <span class="info-subtext">Program Today !</span>
      </div>
    </div>
    <div class="footer-col info-item">
      <i class="fa-solid fa-message icon"></i>
      <div class="info-content">
        <span class="info-text">Send us a message.</span>
        <span class="info-subtext">Contact our agents about your booking,
                                   and we'll reply as soon as possible.</span>
      </div>
    </div>
  </div>

  
  <div class="footer-row row-3">
    <div class="footer-col col-1">© 2025 Ready2Go Inc. All rights reserved.</div>
    <div class="footer-col col-2">
      <p class="social-title">Follow us</p>
      <div class="social-icons">
        <a href="#" class="social-icon">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="footer-col col-3">
      <a href="#" class="up-arrow" aria-label="Scroll to top">
        <i class="fa-solid fa-arrow-up"></i>
      </a>
    </div>
  </div>
</footer>

