.venv
# Node / Angular
Client/node_modules/
Client/dist/
Client/.angular/
Client/.vscode/
Client/*.log
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/package-lock.json
Client/.DS_Store

# Python
Server/venv/
Server/__pycache__/
Server/**/*.pyc
Server/**/*.pyo
Server/*.py[cod]
Server/*$py.class
Server/db.sqlite3
Server/media/
Server/*.log
Server/.Python
Server/pip-log.txt
Server/venv/*

# OS files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/
