<section class="container">
<section class="hero">
  <div class="container">
    <span class="badge">✨ Discover Your Next Adventure</span>

    <h1>
      Explore the world<br />
      <span class="highlight">one journey</span> at a time.
    </h1>

    <p>
      From the peaks of the Swiss Alps to the beaches of Bali, we curate the
      world's most breathtaking experiences with Ready2Go.
    </p>
  </div>
</section>


  <app-search-bar></app-search-bar>
  <header class="header">
    <h1>Active Travel Packages</h1>
    <span>Result: {{ arragements.length }}</span>
  </header>

  <article class="card" *ngFor="let arragement of arragements">

    <div class="image-wrapper">
      <img [src]="environment+arragement.destinacija.slika" [alt]="arragement.naziv" />
    </div>

    <div class="content">
      <span class="badge">{{ arragement.destinacija.drzava.naziv }}</span>

      <div class="title-row">
        <h2>{{ arragement.naziv }}</h2>
        <span class="rating">⭐ {{ arragement.hotel?.ocena }}</span>
      </div>

      <p>{{ arragement.opis }}</p>


      <div class="footer">
        <div>
          <small>DURATION</small>
          <strong>{{ arragement.broj_nocenja }}</strong>
        </div>

        <div>
          <small>PRICE</small>
          <strong class="price">{{ arragement.cena }} €</strong>
        </div>

        <button type="button" (click)="showDetails(arragement)">Details</button>
      </div>
    </div>
  </article>
</section>
