<section class="container">
<section class="hero">
  <div class="container">
    <span class="badge">✨ Discover Your Next Adventure</span>

    <h1>
      Explore the world<br />
      <span class="highlight">one journey</span> at a time.
    </h1>

    <p>
      From the peaks of the Swiss Alps to the beaches of Bali, we curate the
      world's most breathtaking experiences with Ready2Go.
    </p>
  </div>
</section>


  <app-search-bar></app-search-bar>
  <header class="header">
    <h1>Active Travel Packages</h1>
    <span>Result: {{ arragements.length }}</span>
  </header>

  <article class="card" *ngFor="let arrangement of arragements">

    <div class="image-wrapper">
      <img [src]="getArrangementImage(arrangement)" [alt]="arrangement.name" />
    </div>

    <div class="content">
      <span class="badge">{{ arrangement.destination.country.name }}</span>

      <div class="title-row">
        <h2>{{ arrangement.name }}</h2>
        <span class="rating">⭐ {{ arrangement.hotel?.rating ?? 0 }}</span>
      </div>

      <p>{{ arrangement.description }}</p>


      <div class="footer">
        <div>
          <small>DURATION</small>
          <strong>{{ arrangement.number_of_nights }}</strong>
        </div>

        <div>
          <small>PRICE</small>
          <strong class="price">{{ arrangement.price }} €</strong>
        </div>

        <button type="button" (click)="showDetails(arrangement)">Details</button>
      </div>
    </div>
  </article>
</section>
