<div class="login">
  <h2>Sign in</h2>
  <div *ngIf="failureMessage" class="error-message">
    <strong>Error!</strong> {{ failureMessage }}
  </div>
  <form class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Email or profile names</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your email or profile name"
        required
        [(ngModel)]="username"
      />
      <span *ngIf="usernameFieldRequiredErrors" class="error-text">{{ usernameFieldRequiredErrors }}</span>
    </div>

    <div class="form-group">
      <div class="password-label">
        <label for="password">Password</label>
        <i
          class="fa-solid"
          [class.fa-eye]="!isOpen"
          [class.fa-eye-slash]="isOpen"
          (click)="toggle()"
        ></i>
      </div>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
        [(ngModel)]="password"
      />
      <span *ngIf="passwordFieldRequiredErrors" class="error-text">{{ passwordFieldRequiredErrors }}</span>
      <div class="options-links reset-password">
        Forgot password? <a href="#">Reset password</a>.
      </div>
    </div>

    <button class="button" type="submit">Sign in</button>

    <div class="checkbox-group">
      <input type="checkbox" id="remember" />
      <label for="remember">Remember me</label>
    </div>
  </form>

  <div class="options-links sign-up">
    Don't have an account? <a href="signup">Sign up</a>.
  </div>
</div>
